.owl-carousel {
  height: 100vh;
  position: relative;

  .owl-item {
    min-width: 1200px;
  }

  .banner {
    height: 100vh;
    object-fit: cover;
    min-width: 1200px;
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .slide-1 {
    height: 100vh;

    .menu {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, calc(-50% + 25px));
      // background-image: url('./Asset/game_All_Pfizer_4.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80%;
      height: 120px;
      width: 100%;
      object-fit: cover;
    }

    .click_area {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, calc(-50% + 15px));
      z-index: 12321;
      height: 120px;
      width: 100%;
    }
  }

  #page-4 {
    background-image: url("../Asset/BG_Page10to14.jpg");
    height: 100vh;
  }

  .title {
    height: 5rem !important;
    font-size: 3rem;
    letter-spacing: 0.1px;
    font-weight: bold;
    margin-left: 30px;
    text-transform: uppercase;
    position: absolute;
    // top: 20px;
    // left: 0;
    z-index: 10000;
    transition: all 1.5s ease-out;
    color: #000484;
  }

  .content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s linear;
    transform: translateY(200px);

    img {
      z-index: 1000;
      width: 95%;
      margin-right: auto;
      margin-left: auto;
      object-fit: contain;
    }
  }

  #page-2 {
    .content {
      img {
        margin-right: auto;
        margin-left: auto;
        width: 90%;
        height: 90%;
        transform: translateY(-25%);
      }
    }
  }

  #page-12 {
    .content {
      img {
        transform: translateY(-20%);
        width: 70%;
        height: 600px;
      }
    }
  }
}
