#site_container {
    // background: center/contain no-repeat url("../../Asset/BG_Page03to08.jpg");
    height: 100vh;
    z-index: 1221;
    max-width: 1100px;
    // position: absolute;

    img {
        z-index: 123123;
        opacity: 1;
        width: 100%;
    }

    .owl-carousel {

        min-width: 1100px;

    }
}

// @media screen and (max-width:900px) {
//     #site_container {
//         min-width: 1000px;
//     }
// }